@model SellOrderRequest
@{
    string idPrefix = "sellForm-";
}

<form asp-controller="trade" asp-action="sellorder" method="post" id="sellform">
    <input type="hidden" asp-for="StockSymbol" id="@($"{idPrefix}StockSymbol")" />
    <input type="hidden" asp-for="StockName" id="@($"{idPrefix}StockName")" />
    <input type="hidden" asp-for="DateAndTimeOfOrder" id="@($"{idPrefix}DateAndTimeOfOrder")" />
    <input type="hidden" asp-for="Quantity" id="@($"{idPrefix}Quantity")" />
    <input type="hidden" asp-for="Price" id="@($"{idPrefix}Price")" />
    <button onclick="return sellAction()" type="submit" class="button button-red-back">Sell</button>
</form>

<script>
    function sellAction() {
        document.getElementById("sellform").querySelector('input[name="Quantity"]').value = document.getElementById("Quantity").value;
        document.getElementById("sellform").querySelector('input[name="Price"]').value = document.getElementById("price").innerHTML;
        return true;
    }
</script>
