@model StockTrade
@{
    ViewBag.Title = "Stocks";
    BuyOrderRequest buyOrderRequest = new() { StockName = Model.StockName, StockSymbol = Model.StockSymbol };
    SellOrderRequest sellOrderRequest = new() { StockName = Model.StockName, StockSymbol = Model.StockSymbol };
}


<input type="hidden" id="token" name="token" value="@ViewBag.Token" />
<input type="hidden" asp-for="StockSymbol" />

<h2><i class="fa-solid fa-money-bill-trend-up"></i>Stocks</h2>

<div class="flex">

    <div class="margin-top box">
        <div class="stock-title">
            <span>
                @Model.StockName
            </span>
            <span>
                (@Model.StockSymbol)
            </span>
        </div>
        <div class="stock-price">
            <span class="text-grey">$</span><span id="price">@Model.Price</span>
        </div>
    </div>

    <div class="flex-direction-vertical">
        <h3 class="text-grey">New order</h3>
        <label for="Quantity" class="form-label">Quantity</label>
        <input type="number" class="form-input" id="Quantity" value="@ViewBag.DefaultOrderQuantity" required placeholder="Quantity" autofocus/>
        <div class="flex mt">
            @await Html.PartialAsync("_sellorder", sellOrderRequest)
            @await Html.PartialAsync("_buyorder", buyOrderRequest)
        </div>
    </div>
</div>

<script src="~/Scripts/stock.js" asp-append-version="true"></script>
