@model StockTrade
@{
    ViewBag.Title = "Stocks";
}


<input type="hidden" id="token" name="token" value="@ViewBag.Token" />
<input type="hidden" id="stockSymbol" name="stockSymbol" value="@Model.StockSymbol" />

<h2><i class="fa-solid fa-money-bill-trend-up"></i>Stocks</h2>

<div class="flex-2 margin-top box">
    <div class="stock-title">
        <span>
            @Model.StockName
        </span>
        <span>
            (@Model.StockSymbol)
        </span>
    </div>
    <div class="stock-price">
        <span class="text-grey">$</span><span id="price">@Model.Price</span>
    </div>
</div>

<script src="~/Scripts/stock.js"></script>
