@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string acionName = ViewBag.AcionName;
    string controllerName = ViewBag.ControllerName;
    string searchBy = ViewBag.SearchBy;
    string searchString = ViewBag.SearchString;
    string sortBy = ViewBag.SortBy;
    bool ascending = ViewBag.Ascending;
    string columnName = ViewBag.ColumnName;
    string displayName = ViewBag.DisplayName;

    bool linkAscending = (sortBy != columnName) || !ascending;

    var url = Url.Action(acionName, controllerName, new { searchBy, searchString, sortBy = columnName, ascending = linkAscending });


    if (sortBy != columnName)
    {
        <a href="@url">@displayName</a>
    }
    else if (ascending)
    {
        <a href="@url">@displayName</a>
        <i class="fa-solid fa-sort-up"></i>
    }
    else
    {
        <a href="@url">@displayName</a>
        <i class="fa-solid fa-sort-down"></i>
    }
}
